@import "variables";
.banner-about {
  width: 100%;
  .banner-img {
    height: 70vh;
    img{
      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .banner-mask{
      background: hsla(0, 0%, 0%, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      height: 70vh;
      .banner-inf {
        align-items: center;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100%;

        h1{
          color: $white;
          font-family: $montserrat;
          font-weight: 700;
          text-transform: uppercase;
          width: 70%;
          // text-align: center;
          margin-bottom: 20px;
          position: absolute;
          top: 50%;
          left:18%;
          @include respond-to(xs) {
            width: 100%;
            font-size: 25px;
            left:3%;
          }
          
        }
        p{
          color: $white;
          width: 35%;
          text-align: center;
          @include respond-to(xs) {
            width: 100%;
            font-size: 13px;
          }

        }
      }
    }
  }    
}

.container-about {
  padding: 0px 20px 0 0px;

  @include respond-to(xs) {
    max-width: 700px;
    padding: 15px;
  }
}

.about-content-inf {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 50px;

  @include respond-to(xs) {
    padding: 80px 0px;
  }
  
  p {
    font-size: 18px;
    font-weight: 600;
    width: 40%;
    text-align: center;

    @include respond-to(xs) {
      width: 100%;
    }
    
  }
}

.line {
  position: relative;

  &::before {
    background: $gray-serviteca;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    top: -60px;
  }
}

.after-circle-0 {
  position: relative;

  &:after {
    background-color: $gray-serviteca;
    position: absolute;
    content: '1';
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 45px;
    left: 165px;
    line-height: 45px;
    text-align: center;
    top: -80px;
    width: 45px;
  }
}

.after-circle-1 {
  position: relative;

  &:after {
    background-color: $gray-serviteca;
    position: absolute;
    content: '2';
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 45px;
    left: 165px;
    line-height: 45px;
    text-align: center;
    top: -80px;
    width: 45px;
  }
}

.after-circle-2 {
  position: relative;

  &:after {
    background-color: $gray-serviteca;
    position: absolute;
    content: '3';
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 45px;
    left: 165px;
    line-height: 45px;
    text-align: center;
    top: -80px;
    width: 45px;
  }
}
.card-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .card-about-title {
    h3 {
      color: $black;
      font-weight: 700;
      font-family: $montserrat;
    }
  }
  .card-about-content {
    padding: 30px;
    text-align: justify;
  
  }
}
              

.team-about {
  padding: 50px;
  height: auto;

  @include respond-to(xs){
    padding: 0;
  }

  &.team-view-about {
    margin-top: 100px;

    .mask {
      position: relative;

      img {
        position: absolute;
        right: 0;
        top: -85px;
        opacity: 0.1;
      }
    }

    .container{
      padding: 0 10px 0 45px;

      @include respond-to(md){
        padding: 0 10px 0 25px;
      }

      @include respond-to(sm) {
        padding: 0 0px 0 0px;
      }

      .top {
        @include respond-to(sm) {
          order: 1;
        }
      }

      .bottom {
        @include respond-to(sm) {
          order: -1;
        }
      }
    }
  }

  .container {

    .content-about-title {
      display: flex;
      justify-content: flex-start;
      padding: 60px 0 20px 0;
      margin-bottom: 30px;
      flex-direction: column;
      h1 {
        font-family: $montserrat;
        font-weight: 700 !important;
        position: relative;
        &:after{
          background: $blue-serviteca;
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          bottom: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
.team-about-content{
  padding: 30px 15px;

  @include respond-to(sm) {
    padding: 10px 0px;
  }
  @include respond-to(xs){
    padding: 30px 5px;
  }
  .team-about-title {
    display:flex;
    align-items: baseline;
  
    h1 {
      font-size: 30px;
      font-weight: 700;
      font-family: $montserrat;
      text-transform: capitalize;
    }
    span {
      font-size: 30px;
      margin-left: 5px;
      font-weight: 700;
      font-family: $montserrat;
      text-transform: capitalize;
      color: $blue-serviteca;
    }
    
  } 
  p {
    font-family: $montserrat;
  }
}
.team-about-image {
  // width:50%;
  &.image-cover {
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  img {
    width: 100%;
  }
}


.content-img1{
  width:100%;
  height:400px;

  @include respond-to(xs) {
    height: 350px;
  }
  .content-img-1{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    @include respond-to(xs) {
      width: 295px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.content-img2 {
  width: 200px;
  height: 200px;
  margin-top: -40px;
  @include respond-to(xs) {
    height: 275px;
  }  
  .content-img-2 {
    width: 250px;
    height: 250px;
    @include respond-to(xs) {
      width: 295px;
    }

    img {
      width: 100%;
      height:100%;
    }
  }
}
.content-img3 {
  width: 250px;
  height: 250px;
  margin-top: 40px;  
  @include respond-to(xs){
    margin-bottom: 20p;
  }
  .content-img-3 {
    width: 200px;
    height: 200px;
    @include respond-to(xs) {
      width: 295px;
    }

    img {
      width: 100%;
      height:100%;
    }
  }
}

.our_team_area{
  padding-bottom: 70px;
  background: #fefefe;

  @include respond-to(sm) {
    padding-bottom: 0;
  }
  .team_row{
    // padding-top: 70px;
    .content-member-team {
      padding: 10px;
      // width: 220px !important;
      .team_membar{
        height: 360px;
        display: block;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;

        @include respond-to(xs){
          height: 460px;
        }
        img{
          max-width: 100%; 
        }
        .team_content{
            background: $white;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            ul{
              padding: 0;
              margin: 0;
              height: 0px;
              overflow: hidden;
              transition: 0.3s ease-in-out;
              li{
                list-style: none;
                padding-left: 20px;
                display: inline-block;
                &:first-child{
                    padding: 0;
                } 
                a{
                  font-size: 14px;
                  color: $black;
                  line-height: 43px;
                  width: 45px;
                  text-align: center;
                  border-radius: 50%;
                  // border: 1px solid #fff;
                  display: block; 
                  &:hover, &:focus{
                    color: $blue-serviteca;
                    background: #fff;
                  }
                }
              }
            } 
            .name{
              font: 700 14px $montserrat;
              color: $black;
              display: block;
              text-transform: uppercase;
              padding-top: 10px;
            }
            h6{
              font: 400 14px $montserrat;
              color: $black;
              padding-top: 5px;
            }
        }
        &:hover, &:focus{
          .team_content{
            ul{
              height: 50px;
            }
          }
        }
      }
      
    }
  }
}