@import "variables";
@import "mixins";
/*---------------*/
/***** Hover servivios *****/
/*---------------*/
.grid {  
	figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		max-width: 100%;
		margin-right: 30px;
		max-height: 450px;
		height: 300px;	
		text-align: center;
		cursor: pointer;

		@include respond-to(md) {
			max-width: 100%;
		}
		@include respond-to(sm){
			max-width: 100%;
			max-height: 450px;
			height: 280px;
		}
		@include respond-to(xs) {
			min-width: 100%;
		}


		&.img-1 {
			-webkit-animation-delay: 0.5s;
			-moz-animation-delay: 0.5s;
			animation-delay: 0.5s
		}



		&.img-2 {
			-webkit-animation-delay: 1s;
			-moz-animation-delay: 1s;
			animation-delay: 1s
		}

		&.img-3 {
			-webkit-animation-delay: 1.5s;
			-moz-animation-delay: 1.5s;
			animation-delay: 1.5s
		}

		&.effect-ming {
			background: #030c17;

			&:hover {
        figcaption {
          background-color: rgba(58,52,42,0);

          &:before{
            opacity: 1;
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
          }

          img {
            opacity: 0.4;
          }

          .title-service {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
          }

          .description-service {
            opacity: 1;
            -webkit-transform: scale3d(1,1,1);
			      transform: scale3d(1,1,1);
						
          }
        }
      }
      
			img {
				opacity: 0.5;
				-webkit-transition: opacity 0.35s;
				transition: opacity 0.35s;
      }
      
			figcaption {
				&:before{
					position: absolute;
					top: 30px;
					right: 30px;
					bottom: 30px;
					left: 30px;
					border: 2px solid #fff;
					box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
					content: '';
					opacity: 0;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: scale3d(1.4,1.4,1);
					transform: scale3d(1.4,1.4,1);
				}

				.title-service {
					-webkit-transition: -webkit-transform 0.35s;
					transition: transform 0.35s;
				}

				.description-service {
					padding: 1em;
					opacity: 0;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: scale(1.5);
					transform: scale(1.5);
					text-transform: none;
				}
			}
    }
    
		img {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			opacity: 0.8;
    }
    
		figcaption {
			padding: 2em;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&:before{
				pointer-events: none;
      }
      
			&:after{
				pointer-events: none;
      }
      
			.title-service {
				font-size: 20px;
				font-weight: 600;
			}

			.description-service {
				letter-spacing: 1px;
				font-size: 15px;
			}

			 a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
			}
		}
	}
}





