%section.team-about#team-about{ style: "background-color:#cccccc1a;padding-top: 50px;"}
  .container.container-about
    .row
      .col-lg-7.col-12
        .team-about-content.wow.animated.fadeInLeft{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  }
          .team-about-title
            %h1 SERVITECA 2609, C.A
            -# %span equipo
          %p.about-description Somos una empresa la cual desde hace 5 años empezó a funcionar y fue creada formalmente en Junio de 2017, la empresa nació de la idea de un grupo de jóvenes técnicos pertenecientes a un taller autorizado de la marca Atlas Copco en Venezuela.
          %p.about-description  Nos dedicamos a la venta y distribución de repuestos, aceites, mantenimiento preventivo y correctivo de compresores industriales y herramientas neumáticas, servicios generales y suministros industriales.
          %a.btn.btn-primary.btn-shadow{:href => "about.html"} Conocenos
      .col-lg-5.d-none.d-lg-block
        .team-about-image.wow.animated.fadeInRight{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  }
          %img{:src=>"assets/img/team.jpg", :alt=>""}
        
