%head
  %meta{charset: "UTF-8"}/
  %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
  %title Serviteca C.A
  %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
  %link{rel: "stylesheet", href:"assets/css/slick.css"}/
  %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
  %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
  %link{rel: "stylesheet", href:"assets/css/animate.css"}/
  %link{rel: "stylesheet", href:"assets/css/main.css"}/
  %link{rel: "stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css"}/

  